@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h5>Hire Date: @Convert.ToDateTime(Model.HireDate).ToString("MM/dd/yyyy")</h5>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer does not contain any machines to repair</p>
}
else 
{
  <h4>Machines this engineer is license to repair</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
     <li>@join.Machine.Name</li>
     @using (Html.BeginForm("DeleteMachine", "Engineers"))
     {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" type="Delete" value="delete" />
     }
    }
  </ul>
}

<p>@Html.ActionLink("Back to Engineer", "Index")</p>
<p>@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add machine to engineer ", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Go back home", "Index", "Home")</p>