@{
  layput = "_Layout";
}

@model Factory.Models.Engineers

<h2>Edit engineer</h2>

<h4>Edit this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditFor(model => model.Name)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.HireDate, new { type = "date" })

  @Html.Label("Select license machine to engineer")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Back to home", "Index", "Home")</p>