@{
  layput = "_Layout";
}

@using Factory.Models;

<h2>Engineers</h2>

@if (Model.Count == 0)
{
  <h3>No Engineers have been added!</h3>
}

<ul>
  @foreach (Engineer engineer in Model)
  {
    <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</li>
  }
</ul>

<p>@Html.ActionLink("Add Engineer", "Create")</p>
<p>@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add Machine", "Create", "Machine")</p>
<p>@Html.ActionLink("Go back home", "Index", "Home")</p>